/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(117,121,128,0.53);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}
ol,
ul {
  padding-left: 0;
}
a {
  color: #212529;
  text-decoration: none;
}

.form-control{
  border-radius: 10px !important;
}

.btn-primary {
  color: rgb(69, 90, 100);
  background-color: rgb(236, 239, 241);
  border: 2px solid #e9e9e9;
}

.btn-primary:hover {
  color: rgb(69, 90, 100);
  background-color: rgb(236, 239, 241);
  border: 2px solid #efeef1;
}

.btn-secondary{
  background: none;
  color: #333;
  font-weight: bold;
  border: none;
}

.btn-tertiary{
  background: rgb(236, 239, 241);
  border-radius: 25px;
  color: rgb(69, 90, 100);
  font-weight: 500;
}
.btn-secondary:hover {
  border-radius: 25px;
}
/* custom button  */
.custom-button {
  font-size: 15px;
  padding: 1%;
  border-radius: 5px;
}

.nav-link {
  color: rgb(69, 90, 100);
}

/* drop down arrow  */
.dropdown-toggle::after {
  display: none !important;
  margin-left: 0;
  vertical-align: 0;
}

/* cat box  */ 
.cat-box{
  background: white;
  padding: 2%;
  border-radius: 8px;
}

/* pagination */
.page-link{
  color: rgb(69, 90, 100);
}
.page-item.active .page-link{
  background-color: rgb(69, 90, 100);
  border-color: rgb(69, 90, 100);
}

.note-text bold{
  color: red;
  font-weight: 700;
}
/* ====================== dropdown profile =======================*/
.dropdown-menu.show {
  display: block;
  padding: 7px 5px;
  margin-top: 10px;
  border: 1px solid #efeef1;
  margin-top: 10px;
  border-radius: 10px;
}

.dropdown-item:hover {
  border-radius: 10px;
}

/* custom title */

.custom-title {
  font-weight: 600;
  color: rgb(69, 90, 100);
}

/* custom subtitle */
.custom-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: rgb(129, 131, 133);
}

/* sidebar  */
.sidebar {
  position: fixed;
  height: 100%;
  width: 280px;
  overflow-x: auto;
  background: rgb(255, 255, 255);
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 60px;
}
.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 5%;
}
.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: rgb(69, 90, 100);
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name {
  color: rgb(69, 90, 100);
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 60px;
  padding: 0 12px;
}
.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
  background: rgb(236, 239, 241);
  border-radius: 10px;
  border: 2px solid #e9e9e9;
}
.sidebar .nav-links li a:hover {
  background: rgb(236, 239, 241);
  border-radius: 10px;
}
.sidebar .nav-links li i,
svg {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: rgb(69, 90, 100);
}
.sidebar .nav-links li a .links_name {
  color: rgb(69, 90, 100);
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 280px);
  left: 280px;
  transition: all 0.5s ease;
}
/* .sidebar.active ~ .home-section{ */
.home-section.active {
  width: calc(100% - 0px);
  left: 0px;
}
.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 280px);
  left: 280px;
  z-index: 100;
  padding: 0 48px;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
  transition: all 0.5s ease;
}
.home-section.active nav {
  left: 0px;
  width: calc(100% - 0px);
}
.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i {
  font-size: 25px;
  padding: 5px;
  margin-right: 10px;
  color: rgb(69, 90, 100);
  background: rgb(236, 239, 241);
  border-radius: 10px;
}
.home-section .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%; 
}
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 15px;
  font-size: 18px;
  padding: 0 15px;
}
.search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: rgb(236, 239, 241);
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  color: rgb(69, 90, 100);
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: rgb(236, 239, 241);
  border-radius: 25px;
  height: 50px;
  padding: 0 10px 0 5px;
}
nav .profile-details img {
  height: 35px;
  width: 35px;
  margin-left: 5px;
  border-radius: 25px;
  object-fit: cover;
}
nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
.profile-details i {
  font-size: 18px;
  /* margin-left: 10px; */
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  color: #66b0ff;
  background: #cce5ff;
  border-radius: 10px;
}
.appointment-x-details i {
  font-size: 23px;
  margin-right: 10px;
  padding: 5px;
  color: #e05260;
  background: #f7d4d7;
  border-radius: 10px;
}

.appointment-o-details i {
  font-size: 23px;
  margin-right: 10px;
  padding: 5px;
  color: #2bd47d;
  background: #c0f2d8;
  border-radius: 10px;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.1); */
}
.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two {
  color: #2bd47d;
  background: #c0f2d8;
}
.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}
.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}
.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

/* Modal  */
.custom-input-box input{
  font-size: 1rem;
  padding: 2%;
  border-radius: 10px;
  width: 100%;
}

/* activity box  */
.activity-box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 19px 16px;
}
.activity-box svg {
  font-size: 35px;
}
.activity-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 0 20px;
  margin-bottom: 26px;
}
.left-side h3 {
  font-size: 30px;
  font-weight: 600;
}
.left-side small {
  font-size: 20px;
  font-weight: 400;
  color: rgb(129, 131, 133);
}
 
/* color   */ 
.bxs-edit {
  color: #ffad66 !important;
  background: #ffdda8 !important;
}

.bxs-trash  , .bxs-x-circle{
  color: #e05260 !important;
  background: #f7d4d7 !important;
}
.bxs-check-circle{ 
  color: #2bd47d !important;
  background: #c0f2d8 !important;
}
.bx-plus , .bx-time-five{
  color: #7066ff !important;
  background: #ccd2ff !important;
}
 
/* appointment boxes  */
.appointments-boxes {
  background: white;
  border-radius: 8px;
  padding: 2%;
  /* margin-top: 2%; */
  margin-bottom: 3%;
  
}

.progress {
  --bs-progress-height: 8px !important;
}

.appointments-cat-boxes{
  background: white;
  border-radius: 8px;
  padding: 2%;
  border-left: 4px solid mediumvioletred;
}
.appointment-time {
  font-size: 15px;
  font-weight: 600; 
  color: rgb(69, 90, 100);
}
.appointment-text{
  font-size: 15px; 
  margin-top: 2%;
  font-weight: 600; 
  align-items: center;
  color: rgb(69, 90, 100);
}
.appointment-name {
  font-size: 17px;
  font-weight: 600;
  color: #333;
}
.appointment-progress small {
  font-size: 14px;
  padding: 4%;
  font-weight: 600;
  border-radius: 8px;
}

/* react switch  */
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

/* doctor profile  */
.doctor-profile {
  background: white;
  margin-bottom: 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  padding: 30px;
  border-radius: 4px;
}

.doctor-profile-pic {
  border-radius: 50% !important;
  width: 110px;
  height: 110px;
  object-fit: cover;
}
.doctor-profile-header {
  text-align: center;
}
.doctor-profile-body {
  font-size: 15px;
  display: grid;
  justify-content: space-evenly;
  color: rgb(129, 131, 133);
}
.doctor-profile-body bold {
  font-weight: 600;
}

/* nav tabs */
.nav-tabs .nav-link {
  color: rgb(129, 131, 133);
}
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #333;
  color: #333;
  font-weight: 600;
  background-color: transparent;
}

/* card header  */
.card-header {
  background: #f5f6fa;
  border-bottom: 2px solid #efeef1;
  color: rgb(69, 90, 100);
}
.table > :not(:first-child) {
  border-top: none;
}
.table-img {
  height: 30px;
  width: 30px;
  border-radius: 14px;
  object-fit: cover;
}
.card {
  padding: 2%;
  border: none;
  border-radius: 10px;
}

th {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
}
td {
  font-size: 0.9rem;
}


.category-card img {
  height: 18vh;
  background-size: 100%;
}

/* appointment */

.appointment-img {
  height: 25px;
  width: 25px;
  border-radius: 14px;
  object-fit: cover;
}

/* filter  */
.filter{
  height: 100%;
  width: 90%;
  outline: none;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 15px;
  font-size: 17px;
  padding: 8px;
}

/* .activity-boxes */
.activitylog-boxes {
  background: white;
  border-radius: 8px;
  padding: 15px;
  margin-top: 1%;
}

/* modal footer  */
.modal-footer{
  border-top: none;
}
.modal-content{
  border-radius: 10px;
}

/* profile info */
.profile-info {
  background: white;
  padding: 5%;
  border-radius: 10px;
}

#multiselectContainerReact > div.search-wrapper.searchWrapper{
  border-radius: 10px;
  padding: 0px;
}



/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 0px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 0px);
    left: 0px;
  }
  /* .sidebar.active ~ .home-section */
  .home-section.active {
    width: calc(100% - 220px);
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 0px);
    left: 0px;
    padding: 0 30px;
  }
  .home-section.active nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name{
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .appointment-column{
    margin-top: 10px;
  }
}
@media (max-width: 550px) {
  .home-section nav .search-box {
    display: none;
  }
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
